<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>


<div class="row">
    <div class="col-12">
        <div class="title">Content <small>Keyboard scroll gadget</small></div>
    </div>
</div>
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="canvas">
        </div>
    </div>
    <div class="col-4"></div>
</div>
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" data-action="prev" class="btn btn-success">Prev</button>
            <button type="button" data-action="next" class="btn btn-success">Next</button>
        </div>
    </div>
    <div class="col-4"></div>
</div>
</body>
</html>