<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>



<!--<div class="selectWrapper">-->
<!--    <div class="status"></div>-->
<!--    <div class="dropToggle"></div>-->
<!--    <input class="needle" type="text" aria-label="input" autocomplete="off" placeholder="Type Something....">-->
<!--    <div class="dropDownPanel show">-->
<!--        <div class="dropDown">-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<hr>-->


<div class="row">
    <div class="col-12">
        <div class="title">EasySelect <small>Autocomplete Search with highlight</small></div>
    </div>
</div>
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <div id="autocomplete">
        </div>
    </div>
    <div class="col-4"></div>
</div>
<!--<div style="height: 50px;background-color: whitesmoke"></div>-->
<!--<div class="row">-->
<!--    <div class="col-4"></div>-->
<!--    <div class="col-4">-->
<!--        <div class="canvas"></div>-->
<!--    </div>-->
<!--    <div class="col-4"></div>-->
<!--</div>-->
<!--<div style="height: 50px;background-color: whitesmoke"></div>-->
<!--<div class="row">-->
<!--    <div class="col-4"></div>-->
<!--    <div class="col-4">-->
<!--        <div class="btn-group" role="group" aria-label="Basic example">-->
<!--            <button type="button" data-action="prev" class="btn btn-success">Previous</button>-->
<!--            <button type="button" data-action="next" class="btn btn-success">Next</button>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-4"></div>-->
<!--</div>-->

</body>
</html>